<div class="user_login">
  <form class="login_form" action="/login" method="POST">
    <input class="login_box" type="text" name="username" placeholder="username">
    <input  class="login_box" type="password" name="password" placeholder="password">
    <button  class="login_button" type="submit">Login</button>
  </form>
  {{#if errorMessage}}
    <div class="error_message">{{errorMessage}}</div>
  {{/if}}
  <div class="new_user"><a href="/newuser.html">Create account</a></div>
</div>