
{{>head_buttons}}
<div class='homecontainer'>
<div class='hometop'>
  <span class= 'homedescription'> blah blah blah </span>
</div>
<div class= 'homecontent'>
  <div class="homeauthor">Photo by: {{name}}</div>

  <div class='homeimgcontainer'>
    <div> <img class="homeimg" src={{link}}> </div>
  </div>
  <div class="hometext">{{description}}</div>
</div>
{{!-- <div class='homerightcontent'>
  <div class='homerightimg'><img class='homeimgright' src='https://s-media-cache-ak0.pinimg.com/736x/cd/a5/1b/cda51b70758b5302de57225b7c52a202--husky-eyes-fluffy-dogs.jpg'> </div>
  <span class='homerighttext'>text</span>
  <div class='homerightimg'><img class='homeimgright' src='https://s-media-cache-ak0.pinimg.com/736x/cd/a5/1b/cda51b70758b5302de57225b7c52a202--husky-eyes-fluffy-dogs.jpg'></div>
  <span class='homerighttext'>text</span>
  <div class='homerightimg'><img class='homeimgright' src='https://s-media-cache-ak0.pinimg.com/736x/cd/a5/1b/cda51b70758b5302de57225b7c52a202--husky-eyes-fluffy-dogs.jpg'></div>
  <span class='homerighttext'>text</span>
</div> --}}
</div>