<div class="banner">
<span class="header_title">Architecte | Marrakech</span>
  <button class="register_button" type="submit" formmethod="get" formaction="/register" name="register">
  Register</button>
  <button class="logout_button" type="submit" formmethod="get" formaction="/logout" name="logout">
  Logout</button>
</div>