<div class="buttons">
  <form "nav_buttons">
    <div class="inner_button"><button type="submit" formmethod="get" formaction="/gallery/" name="gallery">View Gallery</button></div>
    <div class="inner_button"><button type="submit" formmethod="get" formaction="/gallery/new" name="new_photo">Add Photo</button></div>
    <div class="inner_button"><button type="submit" formmethod="get" formaction="/logout" name="logout">Logout</button></div>
  </form>
</div>