@import url("https://fonts.googleapis.com/css?family=Muli");
body {
  background-color: white;
  text-align: center;
  color: #EEE;
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  color: #C0; }

button {
  background-color: white;
  width: 120px;
  height: 30px;
  border: none;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  color: black;
  text-align: left; }

button:hover {
  background-color: black;
  color: yellow; }

.login_button, .db_update {
  background-color: lightgray;
  color: black;
  font-size: 14px;
  width: 70px;
  height: 30px;
  border: none;
  text-align: center; }

.login_button:hover, .db_update:hover {
  background-color: black;
  color: white; }

.register_button, .logout_button {
  margin-left: 50%;
  background-color: black;
  color: white; }

.logout_button {
  margin-left: 1%; }

.register_button:hover, .logout_button:hover {
  color: yellow; }

.banner {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: black;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  padding-left: 40px;
  white-space: nowrap; }

.header_title {
  font-size: 36px; }

.mainBody {
  display: flex;
  flex-direction: row;
  color: black; }

.navigation {
  position: fixed;
  display: flex;
  width: 12%;
  margin-top: 120px;
  margin-left: 30px; }

.nav_buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.new_form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 88%;
  margin-left: 100px; }

.upload_form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 20%; }

form {
  border-style: none; }

.upload_head {
  font-weight: bold;
  font-color: #C0;
  font-size: 24px;
  margin: 10px; }

.upload_form_box {
  width: 400px;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px; }

.input_text, .login_box {
  width: 400px;
  font-size: 14px;
  height: 25px;
  margin: 2px;
  align: padding-left; }

.hero_section, .photo_section {
  position: fixed;
  margin-top: 100px;
  margin-left: 12%;
  width: 53%; }

img {
  margin-top: 25px;
  border: solid black .5px; }

.login_form {
  position: fixed;
  margin: 100px;
  flex-direction: column; }

.small_gallery, .metadata_section {
  margin-top: 80px;
  margin-left: 65%;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  margin-bottom: 40px;
  background-color: lightgray;
  padding-top: 20px; }

.metadata_section {
  margin-top: 120px;
  margin-left: 58%; }

.metadata_list {
  text-align: left;
  list-style: none;
  padding: 10px; }

.metadata_item {
  margin-bottom: 10px; }

.runin_head {
  color: blue;
  font-size: 16px; }

.description, .name {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 30%;
  text-align: left;
  width: 80%; }

.name {
  font-size: 10px; }

.gallery_edit_form {
  font-size: 10px;
  margin-left: 9%;
  margin-right: 21%;
  text-align: left;
  width: 80%; }

.gallery_edit_button, .small_gallery_edit_button {
  color: blue;
  text-decoration: underline;
  width: 40px; }

.uneditable {
  background-color: lightgray; }

.small_gallery_edit_button {
  background-color: lightgray; }

.name:before {
  content: "Photo courtesy of "; }

.new_user {
  position: fixed;
  margin-top: 150px;
  margin-left: 100px;
  text-align: center; }

img {
  max-width: 80%; }

.hero_image {
  display: flex;
  align-self: self-start;
  justify-content: flex-start;
  flex-direction: column; }

.error_message {
  color: red;
  margin: 20px;
  font-size: 18px; }
